<a href="https://colab.research.google.com/github/samgarcia3/Shopify-Data-Science-Challenge/blob/main/Auto_mpg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Auto MPG DataSet

## Data Dictionary

- mpg - 
- cylinders - 
- displacement - 
- horsepower - 
- weight - 
- acceleration - 
- model - 
- year - 
- origin - 
- car name -

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
data_to_load = files.upload()

Saving auto-mpg.csv to auto-mpg.csv

In [ ]:
import io
mpg_df = pd.read_csv(io.BytesIO(data_to_load['auto-mpg.csv']))

In [ ]:
mpg_df

      mpg  cylinders  ...  origin                   car name
0    18.0          8  ...       1  chevrolet chevelle malibu
1    15.0          8  ...       1          buick skylark 320
2    18.0          8  ...       1         plymouth satellite
3    16.0          8  ...       1              amc rebel sst
4    17.0          8  ...       1                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...       1            ford mustang gl
394  44.0          4  ...       2                  vw pickup
395  32.0          4  ...       1              dodge rampage
396  28.0          4  ...       1                ford ranger
397  31.0          4  ...       1                 chevy s-10

[398 rows x 9 columns]

In [ ]:
mpg_df.shape

(398, 9)

## Data Cleaning

In [ ]:
clean_mpg = mpg_df.copy()
clean_mpg

      mpg  cylinders  ...  origin                   car name
0    18.0          8  ...       1  chevrolet chevelle malibu
1    15.0          8  ...       1          buick skylark 320
2    18.0          8  ...       1         plymouth satellite
3    16.0          8  ...       1              amc rebel sst
4    17.0          8  ...       1                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...       1            ford mustang gl
394  44.0          4  ...       2                  vw pickup
395  32.0          4  ...       1              dodge rampage
396  28.0          4  ...       1                ford ranger
397  31.0          4  ...       1                 chevy s-10

[398 rows x 9 columns]

Duplicates

In [ ]:
# check for duplicate rows
duplicate_indicator = clean_mpg.duplicated()

In [ ]:
# these rows have duplicates in the data
clean_mpg.loc[duplicate_indicator, :]

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [ ]:
duplicate_indicator.sum()/duplicate_indicator.shape[0]*100

0.0

The dataset does not contain any duplicates

Missing Values
<br>

Next we check the table for completeness and see if any data is missing. We present the per-columns fraction of missing values below:

In [ ]:
missing_fraction = clean_mpg.isna().sum()/clean_mpg.shape[0]*100
missing_fraction

mpg             0.0
cylinders       0.0
displacement    0.0
horsepower      0.0
weight          0.0
acceleration    0.0
model year      0.0
origin          0.0
car name        0.0
dtype: float64

#EDA

In [ ]:
clean_mpg['mpg'].mean()

23.514572864321615

In [ ]:
# set up subplots
plt.subplots(5, 1, figsize=(10, 20))

#iterate through columns
for idx, col_name in enumerate(numeric_columns, 1):
    plt.subplot(5, 1, idx)
    
    # plot histogram
    clean_marketing_data[col_name].plot(kind="hist", bins=50)

    # label
    plt.xlabel(col_name)

plt.tight_layout()
#plt.suptitle("Numeric column distributions")
plt.show()